nav{
    width: 100%;
    height: 80px;
    background-color: #2b2b2b;
    color: white;

}
.nav-con{
    width: 80%;
    height: 50px;
    float: left;
    margin-top: 35px;
    margin-left: 30px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    height: 26px;
    text-align: center;
    margin-right: 10px;
    padding-left: 50px;
    color: white;

}

.logo{
    float: left;
    margin-left: 50px;
    margin-left: 30px;
    margin-top: 25px;
    font-family: 'Delicious Handrawn', cursive;

}

.col-6{
    width: 100%px;
    height: 550px;
    margin-left: -600px;
    
}



.col-box1{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: -600px;
    margin-top: 50px;
    background-image: url(../assets/bora-bora.jpg);
    background-size: cover;
    background-position: center;
}
.col-box2{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: -300px;
    margin-top: -200px;
    background-image: url(../assets/pyongyang.jpg);
    background-size: cover;
    background-position: center;
}
.col-box3{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: -100px;
    margin-top: 50px;
    padding-top:100px;
    background-image: url(../assets/paris.jpg);
    background-size: cover;
    background-position: center;
}
.col-box4{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-left: -600px;
    margin-top: 50px;
    background-image: url(../assets/miami.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -200px;
}

form{
    margin-left: 600px;
    width:500px;
    background-color: white;
    margin-top: 0 auto;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-top: 100px;
    text-align: center;
}

.input-elm{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: gray;
    color: black
}

select, button{
    width: 100% !important;
    height: 45px;
    background-color: gray;
    color: black;
    margin-top: 10px
}

button-submit{
    background-color: #2b2b2b;
    color: white;
    font-family: 'Delicious Handrawn', cursive;
}

footer{
    background-color: #2b2b2b;
    color: white;
    width: 100%;
    height: 80px;
    padding-top: 25px;
    text-align: center;
}


